In [1]:
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

In [2]:
2 + 2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5  # division always returns a floating point number

1.6

In [6]:
17 / 3  # classic division returns a float

5.666666666666667

In [7]:
17 // 3  # floor division discards the fractional part

5

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2  # result * divisor + remainder

17

In [11]:
5 ** 2  # 5 squared

25

In [12]:
2 ** 7  # 2 to the power of 7

128

In [13]:
width = 20
height = 5 * 9
width * height

900

In [14]:
n

NameError: name 'n' is not defined

In [15]:
4 * 3.75 - 1

14.0

In [16]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [17]:
price + _

113.0625

In [18]:
round(_, 2)

113.06

In [19]:
'spam eggs'  # single quotes

'spam eggs'

In [21]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [22]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [23]:
'"Yes," they said.'

'"Yes," they said.'

In [24]:
"\"Yes,\" they said."

'"Yes," they said.'

In [25]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [26]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [27]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [28]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [29]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [30]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [31]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [32]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [33]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [34]:
'Py' 'thon'

'Python'

In [37]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [48]:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-48-20527b549823>, line 2)

In [40]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-40-f4764cbe42a8>, line 1)

In [47]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [49]:
word = 'Python'
word[0]  # character in position 0

'P'

In [50]:
word[5]  # character in position 5

'n'

In [51]:
word[-1]  # last character

'n'

In [52]:
word[-2]  # second-last character

'o'

In [54]:
word[-6]

'P'

In [55]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [56]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [57]:
word[:2] + word[2:]

'Python'

In [58]:
word[:4] + word[4:]

'Python'

In [59]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [60]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [61]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [62]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [63]:
word[4:42]

'on'

In [64]:
word[42:]

''

In [65]:
ord[0] = 'J' # no pasa nada, los stings no se cambian

TypeError: 'builtin_function_or_method' object does not support item assignment

In [66]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [67]:
'J' + word[1:]

'Jython'

In [68]:
word[:2] + 'py'

'Pypy'

In [69]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [70]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [71]:
squares[0]

1

In [72]:
squares[-1]

25

In [73]:
squares[-3:]

[9, 16, 25]

In [74]:
squares[:]

[1, 4, 9, 16, 25]

In [75]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [78]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [80]:
cubes.append(216)  # add the cube of 6
cubes

[1, 8, 27, 64, 125, 216, 216]

In [82]:
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 216, 343, 343]

In [83]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [84]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [85]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [86]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [87]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [88]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [89]:
x[0]

['a', 'b', 'c']

In [90]:
x[0][1]

'b'

In [91]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1 # asignacion multiple
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [92]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [93]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [96]:
x = int(input("Please enter an integer: "))

Please enter an integer: 0

In [97]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Zero

In [98]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [106]:
for i in range(5):
    print(i)

0
1
2
3
4

In [112]:
for z in range(5, 10):
    print(z)

5
6
7
8
9

In [114]:
for y in range(0, 10, 3):
    print(y)

0
3
6
9

In [115]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [116]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [121]:
list(range(4))

[0, 1, 2, 3]

In [122]:
for n in range(2, 10):
    for x in range(2, n):
         if n % x == 0:
                print(n, 'equals', x, '*', n//x)
                break
    else:
             # loop fell through without finding a factor
                print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [2]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
class MyEmptyClass:
    pass

In [ ]:
def initlog(*args):
    pass   # Remember to implement this!

In [2]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [5]:
# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [3]:
fib

In [4]:
f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [5]:
fib(0)

In [6]:
print(fib(0))

None

In [7]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

In [8]:
f100 = fib2(100)    # call it
f100 # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [9]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [10]:
ask_ok('Do you really want to quit?')

Do you really want to quit?y

True

In [11]:
ask_ok('OK to overwrite the file?', 2)

OK to overwrite the file?y

True

In [12]:
ask_ok('OK to overwrite the file?', 2, 'Come on, only yes or no!')

OK to overwrite the file?n

False

In [13]:
i = 5
def f(arg=i):
    print(arg)

In [14]:
i = 6
f()

5

In [15]:
def f(a, L=[]):
    L.append(a)
    return L

In [16]:
print(f(1))

[1]

In [17]:
print(f(2))

[1, 2]

In [18]:
print(f(3))

[1, 2, 3]

In [19]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [20]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [21]:
parrot(1000)                                          # 1 positional argument

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [22]:
parrot(voltage=1000)                                  # 1 keyword argument

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [23]:
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [24]:
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [25]:
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [26]:
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [27]:
parrot()                     # required argument missing

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [28]:
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-28-b18b24da62fc>, line 1)

In [29]:
parrot(110, voltage=220)     # duplicate value for the same argument

TypeError: parrot() got multiple values for argument 'voltage'

In [30]:
parrot(actor='John Cleese')  # unknown keyword argument

TypeError: parrot() got an unexpected keyword argument 'actor'

In [31]:
def function(a):
    pass

In [32]:
function(0, a=0)

TypeError: function() got multiple values for argument 'a'

In [33]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [34]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [35]:
def standard_arg(arg):
    print(arg)

In [38]:
def pos_only_arg(arg, /):
    print(arg)

SyntaxError: invalid syntax (<ipython-input-38-dac7287a6fee>, line 1)

In [39]:
def kwd_only_arg(*, arg):
    print(arg)

In [40]:
def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

SyntaxError: invalid syntax (<ipython-input-40-e71a7fd473ab>, line 1)

In [41]:
standard_arg(2)

2

In [42]:
standard_arg(arg=2)

2

In [43]:
pos_only_arg(1)

NameError: name 'pos_only_arg' is not defined

In [44]:
pos_only_arg(arg=1)

NameError: name 'pos_only_arg' is not defined

In [45]:
kwd_only_arg(3)

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [46]:
kwd_only_arg(arg=3)

3

In [47]:
combined_example(1, 2, 3)

NameError: name 'combined_example' is not defined

In [48]:
combined_example(1, 2, kwd_only=3)

NameError: name 'combined_example' is not defined

In [49]:
combined_example(1, standard=2, kwd_only=3)

NameError: name 'combined_example' is not defined

In [50]:
combined_example(pos_only=1, standard=2, kwd_only=3)

NameError: name 'combined_example' is not defined

In [51]:
def foo(name, **kwds):
    return 'name' in kwds

In [52]:
foo(1, **{'name': 2})

TypeError: foo() got multiple values for argument 'name'

In [53]:
def foo(name, /, **kwds):
    return 'name' in kwds

SyntaxError: invalid syntax (<ipython-input-53-e489b643ad2b>, line 1)

In [54]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [56]:
def concat(*args, sep="/"):
    return sep.join(args)

In [57]:
concat("earth", "mars", "venus")

'earth/mars/venus'

In [58]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [59]:
list(range(3, 6))            # normal call with separate arguments

[3, 4, 5]

In [60]:
args = [3, 6]
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [65]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

In [66]:
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}

In [67]:
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [68]:
def make_incrementor(n):
    return lambda x: x + n

In [69]:
f = make_incrementor(42)

In [70]:
f(0)

42

In [71]:
f(1)

43

In [72]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [73]:
pairs.sort(key=lambda pair: pair[1])

In [74]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [75]:
def my_function():
    """Do nothing, but document it.
    
    No, really, it doesn't do anything.
    """
    pass

In [76]:
print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [77]:
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

In [78]:
f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [79]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [80]:
fruits.count('apple')

2

In [81]:
fruits.count('tangerine')

0

In [82]:
fruits.index('banana')

3

In [83]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [84]:
fruits.reverse()

In [85]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [86]:
fruits.append('grape')

In [87]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [88]:
fruits.sort()

In [89]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [90]:
fruits.pop()

'pear'

In [91]:
stack = [3, 4, 5]

In [92]:
stack.append(6)

In [93]:
stack.append(7)

In [94]:
stack

[3, 4, 5, 6, 7]

In [95]:
stack.pop()

7

In [96]:
stack

[3, 4, 5, 6]

In [97]:
stack.pop()

6

In [98]:
stack.pop()

5

In [99]:
stack

[3, 4]

In [100]:
from collections import deque

In [101]:
queue = deque(["Eric", "John", "Michael"])

In [102]:
queue.append("Terry")           # Terry arrives

In [103]:
queue.append("Graham")          # Graham arrives

In [104]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [105]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [106]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [107]:
squares = []
for x in range(10):
    squares.append(x**2)

In [108]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [109]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [110]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

In [111]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [112]:
vec = [-4, -2, 0, 2, 4]

In [113]:
# create a new list with the values doubled

In [114]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [115]:
# filter the list to exclude negative numbers

In [116]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [117]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [118]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [119]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [120]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-120-702d12ece8a4>, line 2)

In [121]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [122]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [123]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [124]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [125]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [126]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [127]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [128]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [129]:
del a[0]

In [130]:
a

[1, 66.25, 333, 333, 1234.5]

In [131]:
del a[2:4]

In [132]:
a

[1, 66.25, 1234.5]

In [133]:
del a[:]

In [134]:
a

[]

In [135]:
t = 12345, 54321, 'hello!'

In [136]:
t[0]

12345

In [137]:
t

(12345, 54321, 'hello!')

In [138]:
# Tuples may be nested
u = t, (1, 2, 3, 4, 5)

In [139]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [140]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [141]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])

In [142]:
v

([1, 2, 3], [3, 2, 1])

In [143]:
empty = ()

In [144]:
singleton = 'hello',    # <-- note trailing comma

In [145]:
len(empty)

0

In [146]:
len(singleton)

1

In [147]:
singleton

('hello',)

In [149]:
t = 12345, 54321, 'hello!'

In [150]:
x, y, z = t

In [151]:
x

12345

In [152]:
y

54321

In [153]:
z

'hello!'

In [154]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [155]:
basket

{'apple', 'banana', 'orange', 'pear'}

In [156]:
'orange' in basket                 # fast membership testing

True

In [157]:
'crabgrass' in basket

False

In [158]:
 # Demonstrate set operations on unique letters from two words
 a = set('abracadabra')
 b = set('alacazam')

In [159]:
a

{'a', 'b', 'c', 'd', 'r'}

In [160]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [161]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [162]:
a & b                              # letters in both a and b

{'a', 'c'}

In [163]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [164]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [165]:
tel = {'jack': 4098, 'sape': 4139}

In [166]:
tel['guido'] = 4127

In [167]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [168]:
del tel['sape']
tel['irv'] = 4127

In [169]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [170]:
list(tel)

['jack', 'guido', 'irv']

In [171]:
sorted(tel)

['guido', 'irv', 'jack']

In [172]:
'guido' in tel

True

In [173]:
'jack' not in tel

False

In [174]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [175]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [176]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [178]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [179]:
for i, v in enumerate(['tic', 'tac', 'toe']):
   print(i, v)

0 tic
1 tac
2 toe

In [180]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [181]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [182]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [183]:
import math

In [184]:
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

In [185]:
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

In [186]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [187]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [189]:
(1, 2, 3) < (1, 2, 4)

True

In [196]:
(1, 2, 3) > (1, 2, 4)

False

In [190]:
[1, 2, 3] < [1, 2, 4]

True

In [191]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [192]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [193]:
(1, 2)                 < (1, 2, -1)

True

In [194]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [195]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True